# Add MIME type for APK downloads
AddType application/vnd.android.package-archive .apk

<IfModule mod_headers.c>
    <FilesMatch "\.apk$">
        Header set Content-Type "application/vnd.android.package-archive"
        Header set Content-Disposition "attachment"
    </FilesMatch>
</IfModule>

RewriteEngine On
# RewriteBase /

# If the request is for a real file or directory, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything else through index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
